@model Book 
@{
    ViewData["Title"] = "Index";
}

<h1>Kitap</h1>
//5dk ya başlarız...


<div>@Model.Id</div>
<div>@Model.Author</div>
<div>@Model.PageNumber.ToString()</div>
<div>@Model.Publisher</div>
<button type="submit"></button>
