@model Book

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div class="container">
    <div class="row">@Model.Id</div>
    <div class="row">@Model.Name</div>
    <div class="row">@Model.PageNumber</div>
    <div class="row">@Model.Author</div>
    <button ></button>
</div>

