@model string

    <div class="alert alert-success">
        <div>@Model</div>
        <div>QWDQŞ</div>
        <div>@Model</div>
        <div>QWDQŞ</div>
        <div>@Model</div>
        <div>QWDQŞ</div>
        <div>@Model</div>
        <div>QWDQŞ</div>
    </div>